# Pandas 进阶练习



本习题基于 `pandas` 版本 `1.1.3`，所有内容应当在 `Jupyter Notebook` 中执行以获得最佳效果。

不同版本之间写法可能会有少许不同，如若碰到此情况，你应该学会如何自行检索解决。

## 学号：
## 姓名：
## 班级：

## 1 - 数据筛选与修改

## 加载数据

In [146]:
import pandas as pd

df = pd.read_csv("data/东京奥运会奖牌数据.csv")

In [147]:
df.head()

   排名 国家奥委会  Unnamed: 2  Unnamed: 3  Unnamed: 4   总分  按总数排名 国家奥委会代码
0   1    美国          39          41          33  113      1     USA
1   2    中国          38          32          18   88      2     CHN
2   3    日本          27          14          17   58      5     JPN
3   4    英国          22          21          22   65      4     GBR
4   5   ROC          20          28          23   71      3     ROC

## 1-1 数据修改

### 1- 数据修改｜列名



将原 `df` 列名 `Unnamed: 2`、`Unnamed: 3`、`Unnamed: 4` 修改为 `金牌数`、`银牌数`、`铜牌数`

In [148]:
df.rename(columns={'Unnamed: 2': '金牌数',
                   'Unnamed: 3': '银牌数',
                   'Unnamed: 4': '铜牌数'}, inplace=True)

In [149]:
df

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
2    3    日本   27   14   17   58      5     JPN
3    4    英国   22   21   22   65      4     GBR
4    5   ROC   20   28   23   71      3     ROC
..  ..   ...  ...  ...  ...  ...    ...     ...
88  86    加纳    0    0    1    1     77     GHA
89  86  格林纳达    0    0    1    1     77     GRN
90  86   科威特    0    0    1    1     77     KUW
91  86  摩尔多瓦    0    0    1    1     77     MDA
92  86   叙利亚    0    0    1    1     77     SYR

[93 rows x 8 columns]

### 2 - 数据修改｜行索引



将第一列（排名）设置为索引

In [150]:
df.rename(index=df['排名'], inplace=True)

In [151]:
df

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
1    1    美国   39   41   33  113      1     USA
2    2    中国   38   32   18   88      2     CHN
3    3    日本   27   14   17   58      5     JPN
4    4    英国   22   21   22   65      4     GBR
5    5   ROC   20   28   23   71      3     ROC
..  ..   ...  ...  ...  ...  ...    ...     ...
86  86    加纳    0    0    1    1     77     GHA
86  86  格林纳达    0    0    1    1     77     GRN
86  86   科威特    0    0    1    1     77     KUW
86  86  摩尔多瓦    0    0    1    1     77     MDA
86  86   叙利亚    0    0    1    1     77     SYR

[93 rows x 8 columns]

### 3 - 数据修改｜修改索引名



修改索引名为 金牌排名

In [152]:
df.index.name = '金牌排名'
df

      排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
金牌排名
1      1    美国   39   41   33  113      1     USA
2      2    中国   38   32   18   88      2     CHN
3      3    日本   27   14   17   58      5     JPN
4      4    英国   22   21   22   65      4     GBR
5      5   ROC   20   28   23   71      3     ROC
...   ..   ...  ...  ...  ...  ...    ...     ...
86    86    加纳    0    0    1    1     77     GHA
86    86  格林纳达    0    0    1    1     77     GRN
86    86   科威特    0    0    1    1     77     KUW
86    86  摩尔多瓦    0    0    1    1     77     MDA
86    86   叙利亚    0    0    1    1     77     SYR

[93 rows x 8 columns]

### 4 - 数据修改｜修改值



将 ROC（第一列第五行）修改为 俄奥委会

In [153]:
df.iloc[4, 1] = '俄奥委会'
df

      排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
金牌排名
1      1    美国   39   41   33  113      1     USA
2      2    中国   38   32   18   88      2     CHN
3      3    日本   27   14   17   58      5     JPN
4      4    英国   22   21   22   65      4     GBR
5      5  俄奥委会   20   28   23   71      3     ROC
...   ..   ...  ...  ...  ...  ...    ...     ...
86    86    加纳    0    0    1    1     77     GHA
86    86  格林纳达    0    0    1    1     77     GRN
86    86   科威特    0    0    1    1     77     KUW
86    86  摩尔多瓦    0    0    1    1     77     MDA
86    86   叙利亚    0    0    1    1     77     SYR

[93 rows x 8 columns]

### 5 - 数据修改｜替换值（单值）



将金牌数列的数字 `0` 替换为 `无`

In [154]:
df['金牌数'] = df['金牌数'].replace(0, '无')
df

      排名 国家奥委会 金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
金牌排名
1      1    美国  39   41   33  113      1     USA
2      2    中国  38   32   18   88      2     CHN
3      3    日本  27   14   17   58      5     JPN
4      4    英国  22   21   22   65      4     GBR
5      5  俄奥委会  20   28   23   71      3     ROC
...   ..   ...  ..  ...  ...  ...    ...     ...
86    86    加纳   无    0    1    1     77     GHA
86    86  格林纳达   无    0    1    1     77     GRN
86    86   科威特   无    0    1    1     77     KUW
86    86  摩尔多瓦   无    0    1    1     77     MDA
86    86   叙利亚   无    0    1    1     77     SYR

[93 rows x 8 columns]

### 6 - <font color = '#FB8E00'>数据修改</font>｜替换值（多值）

同时替换

- 将 `无` 替换为 缺失值
- 将 0 替换为 `None`

注意：缺失值的 Nan 该怎么生成？

In [155]:
import numpy as np

df.replace('无', np.nan, inplace=True)
df.replace(0, None, inplace=True)
df

C:\Users\GNY\AppData\Local\Temp\ipykernel_11364\4282379080.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('无', np.nan, inplace=True)

      排名 国家奥委会   金牌数   银牌数 铜牌数   总分  按总数排名 国家奥委会代码
金牌排名
1      1    美国  39.0    41  33  113      1     USA
2      2    中国  38.0    32  18   88      2     CHN
3      3    日本  27.0    14  17   58      5     JPN
4      4    英国  22.0    21  22   65      4     GBR
5      5  俄奥委会  20.0    28  23   71      3     ROC
...   ..   ...   ...   ...  ..  ...    ...     ...
86    86    加纳   NaN  None   1    1     77     GHA
86    86  格林纳达   NaN  None   1    1     77     GRN
86    86   科威特   NaN  None   1    1     77     KUW
86    86  摩尔多瓦   NaN  None   1    1     77     MDA
86    86   叙利亚   NaN  None   1    1     77     SYR

[93 rows x 8 columns]

### 7 - 数据查看

查看各列数据类型

In [156]:
df.dtypes

排名           int64
国家奥委会       object
金牌数        float64
银牌数         object
铜牌数         object
总分           int64
按总数排名        int64
国家奥委会代码     object
dtype: object

### 8 - 数据修改｜修改类型

将 `金牌数` 列类型修改为 `int`

In [157]:
# Ensure the '金牌数' column is of type int
df['金牌数'] = df['金牌数'].replace(np.nan, 0)
df['金牌数'] = df['金牌数'].astype(int)
df['金牌数'].dtypes

dtype('int64')

### 9 - 数据增加｜新增列（固定值）



**重新加载数据** 并 **新增一列** 比赛地点，值为 `东京`

In [158]:
df['比赛地点'] = '东京'
df

      排名 国家奥委会  金牌数   银牌数 铜牌数   总分  按总数排名 国家奥委会代码 比赛地点
金牌排名
1      1    美国   39    41  33  113      1     USA   东京
2      2    中国   38    32  18   88      2     CHN   东京
3      3    日本   27    14  17   58      5     JPN   东京
4      4    英国   22    21  22   65      4     GBR   东京
5      5  俄奥委会   20    28  23   71      3     ROC   东京
...   ..   ...  ...   ...  ..  ...    ...     ...  ...
86    86    加纳    0  None   1    1     77     GHA   东京
86    86  格林纳达    0  None   1    1     77     GRN   东京
86    86   科威特    0  None   1    1     77     KUW   东京
86    86  摩尔多瓦    0  None   1    1     77     MDA   东京
86    86   叙利亚    0  None   1    1     77     SYR   东京

[93 rows x 9 columns]

### 10 - 数据增加｜新增列（计算值）



**新增一列** 金银牌总数列，值为该国家金银牌总数

In [159]:
df['金银牌总数'] = df['金牌数'] + df['银牌数']
df

      排名 国家奥委会  金牌数   银牌数 铜牌数   总分  按总数排名 国家奥委会代码 比赛地点 金银牌总数
金牌排名
1      1    美国   39    41  33  113      1     USA   东京    80
2      2    中国   38    32  18   88      2     CHN   东京    70
3      3    日本   27    14  17   58      5     JPN   东京    41
4      4    英国   22    21  22   65      4     GBR   东京    43
5      5  俄奥委会   20    28  23   71      3     ROC   东京    48
...   ..   ...  ...   ...  ..  ...    ...     ...  ...   ...
86    86    加纳    0  None   1    1     77     GHA   东京   NaN
86    86  格林纳达    0  None   1    1     77     GRN   东京   NaN
86    86   科威特    0  None   1    1     77     KUW   东京   NaN
86    86  摩尔多瓦    0  None   1    1     77     MDA   东京   NaN
86    86   叙利亚    0  None   1    1     77     SYR   东京   NaN

[93 rows x 10 columns]

### 11 -数据增加｜新增列（比较值）

新增一列 最多奖牌数量 列，值为该国 `金、银、铜` 牌数量中最多的一个奖牌数量

例如美国银牌最多，则为41，中国为38

In [160]:
df['最多奖牌数量'] = df[['金牌数', '银牌数', '铜牌数']].max(axis=1)
df

      排名 国家奥委会  金牌数   银牌数 铜牌数   总分  按总数排名 国家奥委会代码 比赛地点 金银牌总数 最多奖牌数量
金牌排名
1      1    美国   39    41  33  113      1     USA   东京    80     41
2      2    中国   38    32  18   88      2     CHN   东京    70     38
3      3    日本   27    14  17   58      5     JPN   东京    41     27
4      4    英国   22    21  22   65      4     GBR   东京    43     22
5      5  俄奥委会   20    28  23   71      3     ROC   东京    48     28
...   ..   ...  ...   ...  ..  ...    ...     ...  ...   ...    ...
86    86    加纳    0  None   1    1     77     GHA   东京   NaN      1
86    86  格林纳达    0  None   1    1     77     GRN   东京   NaN      1
86    86   科威特    0  None   1    1     77     KUW   东京   NaN      1
86    86  摩尔多瓦    0  None   1    1     77     MDA   东京   NaN      1
86    86   叙利亚    0  None   1    1     77     SYR   东京   NaN      1

[93 rows x 11 columns]

### 12 - 数据增加｜新增列（判断值）

新增一列 金牌大于30

如果一个国家的金牌数大于 30 则值为 是，反之为 否

In [161]:
df['金牌大于30'] = df['金牌数'].apply(lambda x: '是' if x > 30 else '否')
df

      排名 国家奥委会  金牌数   银牌数 铜牌数   总分  按总数排名 国家奥委会代码 比赛地点 金银牌总数 最多奖牌数量 金牌大于30
金牌排名
1      1    美国   39    41  33  113      1     USA   东京    80     41      是
2      2    中国   38    32  18   88      2     CHN   东京    70     38      是
3      3    日本   27    14  17   58      5     JPN   东京    41     27      否
4      4    英国   22    21  22   65      4     GBR   东京    43     22      否
5      5  俄奥委会   20    28  23   71      3     ROC   东京    48     28      否
...   ..   ...  ...   ...  ..  ...    ...     ...  ...   ...    ...    ...
86    86    加纳    0  None   1    1     77     GHA   东京   NaN      1      否
86    86  格林纳达    0  None   1    1     77     GRN   东京   NaN      1      否
86    86   科威特    0  None   1    1     77     KUW   东京   NaN      1      否
86    86  摩尔多瓦    0  None   1    1     77     MDA   东京   NaN      1      否
86    86   叙利亚    0  None   1    1     77     SYR   东京   NaN      1      否

[93 rows x 12 columns]

### 13 - 数据增加｜增加多列

新增两列，分别是

- 金铜牌总数（金牌数+铜牌数）
- 银铜牌总数（银牌数+铜牌数）

In [162]:
df['金铜牌总数'] = df[['金牌数', '铜牌数']].sum(axis=1)
df['银铜牌总数'] = df[['银牌数', '铜牌数']].sum(axis=1)

df

,排名,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,比赛地点,金银牌总数,最多奖牌数量,金牌大于30,金铜牌总数,银铜牌总数
金牌排名,,,,,,,,,,,,,,
1,1,美国,39,41,33,113,1,USA,东京,80,41,是,72,74
2,2,中国,38,32,18,88,2,CHN,东京,70,38,是,56,50
3,3,日本,27,14,17,58,5,JPN,东京,41,27,否,44,31
4,4,英国,22,21,22,65,4,GBR,东京,43,22,否,44,43
5,5,俄奥委会,20,28,23,71,3,ROC,东京,48,28,否,43,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,86,加纳,0,None,1,1,77,GHA,东京,NaN,1,否,1,1
86,86,格林纳达,0,None,1,1,77,GRN,东京,NaN,1,否,1,1
86,86,科威特,0,None,1,1,77,KUW,东京,NaN,1,否,1,1
86,86,摩尔多瓦,0,None,1,1,77,MDA,东京,NaN,1,否,1,1
86,86,叙利亚,0,None,1,1,77,SYR,东京,NaN,1,否,1,1

### 14 - 数据增加｜新增列（引用变量）

新增一列金牌占比，为各国金牌数除以总金牌数（gold_sum）

In [163]:
df['金牌占比'] = df['金牌数'].div(df['金牌数'].sum())
df

,排名,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,比赛地点,金银牌总数,最多奖牌数量,金牌大于30,金铜牌总数,银铜牌总数,金牌占比
金牌排名,,,,,,,,,,,,,,,
1,1,美国,39,41,33,113,1,USA,东京,80,41,是,72,74,0.114706
2,2,中国,38,32,18,88,2,CHN,东京,70,38,是,56,50,0.111765
3,3,日本,27,14,17,58,5,JPN,东京,41,27,否,44,31,0.079412
4,4,英国,22,21,22,65,4,GBR,东京,43,22,否,44,43,0.064706
5,5,俄奥委会,20,28,23,71,3,ROC,东京,48,28,否,43,51,0.058824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,86,加纳,0,None,1,1,77,GHA,东京,NaN,1,否,1,1,0.000000
86,86,格林纳达,0,None,1,1,77,GRN,东京,NaN,1,否,1,1,0.000000
86,86,科威特,0,None,1,1,77,KUW,东京,NaN,1,否,1,1,0.000000
86,86,摩尔多瓦,0,None,1,1,77,MDA,东京,NaN,1,否,1,1,0.000000
86,86,叙利亚,0,None,1,1,77,SYR,东京,NaN,1,否,1,1,0.000000

### 15 - 数据增加｜新增行（末尾追加）



在 df 末尾追加一行，内容为 0,1,2,3... 一直到 `df` 的列长度

In [165]:
new_row = list(range(df.shape[1]))
new_row = pd.DataFrame([new_row],columns=df.columns)
# df._append(pd.Series(new_row,index = df.columns),ignore_index=True)
df = pd.concat([df,new_row],ignore_index=True)
df

,排名,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,比赛地点,金银牌总数,最多奖牌数量,金牌大于30,金铜牌总数,银铜牌总数,金牌占比
0,1,美国,39,41,33,113,1,USA,东京,80,41,是,72,74,0.114706
1,2,中国,38,32,18,88,2,CHN,东京,70,38,是,56,50,0.111765
2,3,日本,27,14,17,58,5,JPN,东京,41,27,否,44,31,0.079412
3,4,英国,22,21,22,65,4,GBR,东京,43,22,否,44,43,0.064706
4,5,俄奥委会,20,28,23,71,3,ROC,东京,48,28,否,43,51,0.058824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,86,格林纳达,0,None,1,1,77,GRN,东京,NaN,1,否,1,1,0.000000
90,86,科威特,0,None,1,1,77,KUW,东京,NaN,1,否,1,1,0.000000
91,86,摩尔多瓦,0,None,1,1,77,MDA,东京,NaN,1,否,1,1,0.000000
92,86,叙利亚,0,None,1,1,77,SYR,东京,NaN,1,否,1,1,0.000000
93,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14.000000

### 16 -数据增加｜新增行（指定位置）



在第 2 行新增一行数据，即美国和中国之间。

数据内容同上一题

In [170]:
df = pd.concat([df.loc[:0],new_row,df.loc[1:]],ignore_index=True)
df

,排名,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,比赛地点,金银牌总数,最多奖牌数量,金牌大于30,金铜牌总数,银铜牌总数,金牌占比
0,1,美国,39,41,33,113,1,USA,东京,80,41,是,72,74,0.114706
1,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14.000000
2,2,中国,38,32,18,88,2,CHN,东京,70,38,是,56,50,0.111765
3,3,日本,27,14,17,58,5,JPN,东京,41,27,否,44,31,0.079412
4,4,英国,22,21,22,65,4,GBR,东京,43,22,否,44,43,0.064706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,86,格林纳达,0,None,1,1,77,GRN,东京,NaN,1,否,1,1,0.000000
91,86,科威特,0,None,1,1,77,KUW,东京,NaN,1,否,1,1,0.000000
92,86,摩尔多瓦,0,None,1,1,77,MDA,东京,NaN,1,否,1,1,0.000000
93,86,叙利亚,0,None,1,1,77,SYR,东京,NaN,1,否,1,1,0.000000
94,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14.000000

### 17 - 数据删除｜删除行



删除 `df` 第一行

In [172]:
df = df.drop(df.index[0])
df

,排名,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,比赛地点,金银牌总数,最多奖牌数量,金牌大于30,金铜牌总数,银铜牌总数,金牌占比
1,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14.000000
2,2,中国,38,32,18,88,2,CHN,东京,70,38,是,56,50,0.111765
3,3,日本,27,14,17,58,5,JPN,东京,41,27,否,44,31,0.079412
4,4,英国,22,21,22,65,4,GBR,东京,43,22,否,44,43,0.064706
5,5,俄奥委会,20,28,23,71,3,ROC,东京,48,28,否,43,51,0.058824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,86,格林纳达,0,None,1,1,77,GRN,东京,NaN,1,否,1,1,0.000000
91,86,科威特,0,None,1,1,77,KUW,东京,NaN,1,否,1,1,0.000000
92,86,摩尔多瓦,0,None,1,1,77,MDA,东京,NaN,1,否,1,1,0.000000
93,86,叙利亚,0,None,1,1,77,SYR,东京,NaN,1,否,1,1,0.000000
94,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14.000000

### 18 - 数据删除｜删除行（条件）
金牌赛>18的国家

In [178]:
df =  df.drop(df.index[df['金牌数']>18])
df

,排名,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,比赛地点,金银牌总数,最多奖牌数量,金牌大于30,金铜牌总数,银铜牌总数,金牌占比
1,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14.000000
6,6,澳大利亚,17,7,22,46,6,AUS,东京,24,22,否,39,29,0.050000
7,7,荷兰,10,12,14,36,9,NED,东京,22,14,否,24,26,0.029412
8,8,法国,10,12,11,33,10,FRA,东京,22,12,否,21,23,0.029412
9,9,德国,10,11,16,37,8,GER,东京,21,16,否,26,27,0.029412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,86,格林纳达,0,None,1,1,77,GRN,东京,NaN,1,否,1,1,0.000000
91,86,科威特,0,None,1,1,77,KUW,东京,NaN,1,否,1,1,0.000000
92,86,摩尔多瓦,0,None,1,1,77,MDA,东京,NaN,1,否,1,1,0.000000
93,86,叙利亚,0,None,1,1,77,SYR,东京,NaN,1,否,1,1,0.000000
94,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14.000000

### 19 - 数据删除｜删除列



删除刚刚新增的 比赛地点 列

In [179]:
df = df.drop('比赛地点',axis = 1)
df

,排名,国家奥委会,金牌数,银牌数,铜牌数,总分,按总数排名,国家奥委会代码,金银牌总数,最多奖牌数量,金牌大于30,金铜牌总数,银铜牌总数,金牌占比
1,0,1,2,3,4,5,6,7,9,10,11,12,13,14.000000
6,6,澳大利亚,17,7,22,46,6,AUS,24,22,否,39,29,0.050000
7,7,荷兰,10,12,14,36,9,NED,22,14,否,24,26,0.029412
8,8,法国,10,12,11,33,10,FRA,22,12,否,21,23,0.029412
9,9,德国,10,11,16,37,8,GER,21,16,否,26,27,0.029412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,86,格林纳达,0,None,1,1,77,GRN,NaN,1,否,1,1,0.000000
91,86,科威特,0,None,1,1,77,KUW,NaN,1,否,1,1,0.000000
92,86,摩尔多瓦,0,None,1,1,77,MDA,NaN,1,否,1,1,0.000000
93,86,叙利亚,0,None,1,1,77,SYR,NaN,1,否,1,1,0.000000
94,0,1,2,3,4,5,6,7,9,10,11,12,13,14.000000

### 20 - 数据删除｜删除列（按列号）



删除 `df` 的 `7、8、9、10` 列

In [181]:
df.drop(df.columns[7:11],axis = 1)

    排名 国家奥委会  金牌数   银牌数 铜牌数  总分  按总数排名 金牌大于30 金铜牌总数 银铜牌总数       金牌占比
1    0     1    2     3   4   5      6     11    12    13  14.000000
6    6  澳大利亚   17     7  22  46      6      否    39    29   0.050000
7    7    荷兰   10    12  14  36      9      否    24    26   0.029412
8    8    法国   10    12  11  33     10      否    21    23   0.029412
9    9    德国   10    11  16  37      8      否    26    27   0.029412
..  ..   ...  ...   ...  ..  ..    ...    ...   ...   ...        ...
90  86  格林纳达    0  None   1   1     77      否     1     1   0.000000
91  86   科威特    0  None   1   1     77      否     1     1   0.000000
92  86  摩尔多瓦    0  None   1   1     77      否     1     1   0.000000
93  86   叙利亚    0  None   1   1     77      否     1     1   0.000000
94   0     1    2     3   4   5      6     11    12    13  14.000000

[90 rows x 11 columns]

## 1-2 数据筛选

以下所有答案要求返回的是一个 dataframe 而不是 Series 这样可以直接存储为 Excel 等格式的文件！

### 21 - 重新加载数据

In [208]:
import pandas as pd

df = pd.read_csv("data/东京奥运会奖牌数据.csv")
df.rename(columns={
    'Unnamed: 2': '金牌数',
    'Unnamed: 3': '银牌数',
    'Unnamed: 4': '铜牌数'
},
    inplace=True)


### 22 - 筛选列｜通过列号

提取第 1、2、3、4 列

In [185]:
df.iloc[:,1:5]

   国家奥委会  金牌数  银牌数  铜牌数
0     美国   39   41   33
1     中国   38   32   18
2     日本   27   14   17
3     英国   22   21   22
4    ROC   20   28   23
..   ...  ...  ...  ...
88    加纳    0    0    1
89  格林纳达    0    0    1
90   科威特    0    0    1
91  摩尔多瓦    0    0    1
92   叙利亚    0    0    1

[93 rows x 4 columns]

### 23 - 筛选列｜通过列名

提取 `金牌数、银牌数、铜牌数` 三列

In [184]:
df[['金牌数','银牌数','铜牌数']]

    金牌数  银牌数  铜牌数
0    39   41   33
1    38   32   18
2    27   14   17
3    22   21   22
4    20   28   23
..  ...  ...  ...
88    0    0    1
89    0    0    1
90    0    0    1
91    0    0    1
92    0    0    1

[93 rows x 3 columns]

### 24 - 筛选列｜条件（列号）

筛选全部 **奇数列**

In [186]:
df.iloc[:,[i for i in range(df.shape[1]) if i % 2 == 1]]

   国家奥委会  银牌数   总分 国家奥委会代码
0     美国   41  113     USA
1     中国   32   88     CHN
2     日本   14   58     JPN
3     英国   21   65     GBR
4    ROC   28   71     ROC
..   ...  ...  ...     ...
88    加纳    0    1     GHA
89  格林纳达    0    1     GRN
90   科威特    0    1     KUW
91  摩尔多瓦    0    1     MDA
92   叙利亚    0    1     SYR

[93 rows x 4 columns]

### 25 - >筛选列｜条件（列名）

提取全部列名中以 “数” 结尾的列

In [198]:
# df.iloc[:,[i for i in range(df.shape[1]) if df.columns[i].endswith('数')]]
df.loc[:,df.columns.str.endswith('数')]

    金牌数  银牌数  铜牌数
0    39   41   33
1    38   32   18
2    27   14   17
3    22   21   22
4    20   28   23
..  ...  ...  ...
88    0    0    1
89    0    0    1
90    0    0    1
91    0    0    1
92    0    0    1

[93 rows x 3 columns]

### 26 - 筛选列｜组合（行号+列名）

提取倒数后三列的10-20行

In [190]:
df.iloc[10:20,-3:]

    总分  按总数排名 国家奥委会代码
10  24     11     CAN
11  21     12     BRA
12  20     13     NZL
13  15     18     CUB
14  20     13     HUN
15  20     13     KOR
16  14     19     POL
17  11     23     CZE
18  10     25     KEN
19   8     29     NOR

### 27 -筛选行｜通过行号

提取第 10 行

In [191]:
df.iloc[10]

排名          11
国家奥委会      加拿大
金牌数          7
银牌数          6
铜牌数         11
总分          24
按总数排名       11
国家奥委会代码    CAN
Name: 10, dtype: object

### 28 -  筛选行｜通过行号（多行）

提取第 10 行之后的全部行

In [192]:
df.iloc[10:]

    排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
10  11   加拿大    7    6   11  24     11     CAN
11  12    巴西    7    6    8  21     12     BRA
12  13   新西兰    7    6    7  20     13     NZL
13  14    古巴    7    3    5  15     18     CUB
14  15   匈牙利    6    7    7  20     13     HUN
..  ..   ...  ...  ...  ...  ..    ...     ...
88  86    加纳    0    0    1   1     77     GHA
89  86  格林纳达    0    0    1   1     77     GRN
90  86   科威特    0    0    1   1     77     KUW
91  86  摩尔多瓦    0    0    1   1     77     MDA
92  86   叙利亚    0    0    1   1     77     SYR

[83 rows x 8 columns]

### 29 - 筛选行｜固定间隔

提取 0-50 行，间隔为 3

In [193]:
df.iloc[0:50+1:3]

    排名  国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1     美国   39   41   33  113      1     USA
3    4     英国   22   21   22   65      4     GBR
6    7     荷兰   10   12   14   36      9     NED
9   10    意大利   10   10   20   40      7     ITA
12  13    新西兰    7    6    7   20     13     NZL
15  16     韩国    6    4   10   20     13     KOR
18  19    肯尼亚    4    4    2   10     25     KEN
21  22    西班牙    3    8    6   17     17     ESP
24  25     丹麦    3    4    4   11     23     DEN
27  28   塞尔维亚    3    1    5    9     26     SRB
30  31  斯洛文尼亚    3    1    1    5     42     SLO
33  34   中华台北    2    4    6   12     22     TPE
36  36    乌干达    2    1    1    4     47     UGA
39  39    以色列    2    0    2    4     47     ISR
42  42    科索沃    2    0    0    2     66     KOS
45  46   罗马尼亚    1    3    0    4     47     ROU
48  49   中国香港    1    2    3    6     39     HKG

### 30 -  筛选行｜判断（大于）

提取 金牌数 大于 30 的行

In [200]:
# df.iloc[[i for i in range(df.shape[0]) if df['金牌数'][i] > 30]]
# df.loc[df['金牌数'] > 30]
df[df['金牌数'] > 30]

   排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0   1    美国   39   41   33  113      1     USA
1   2    中国   38   32   18   88      2     CHN

### 31 - >筛选行｜判断（等于）

提取 `金牌数` 等于 10 的行

In [201]:
df[df['金牌数'] == 10]

   排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
6   7    荷兰   10   12   14  36      9     NED
7   8    法国   10   12   11  33     10     FRA
8   9    德国   10   11   16  37      8     GER
9  10   意大利   10   10   20  40      7     ITA

### 32 - 筛选行｜判断（不等于）

提取 `金牌数` 不等于 `10` 的行

In [202]:
df[df['金牌数'] != 10]

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
2    3    日本   27   14   17   58      5     JPN
3    4    英国   22   21   22   65      4     GBR
4    5   ROC   20   28   23   71      3     ROC
..  ..   ...  ...  ...  ...  ...    ...     ...
88  86    加纳    0    0    1    1     77     GHA
89  86  格林纳达    0    0    1    1     77     GRN
90  86   科威特    0    0    1    1     77     KUW
91  86  摩尔多瓦    0    0    1    1     77     MDA
92  86   叙利亚    0    0    1    1     77     SYR

[89 rows x 8 columns]

### 33 - 筛选行｜条件（指定行号）

提取全部 **奇数行**

In [203]:
df.iloc[[i for i in range(df.shape[0]) if i % 2 == 1]]

    排名   国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
1    2      中国   38   32   18  88      2     CHN
3    4      英国   22   21   22  65      4     GBR
5    6    澳大利亚   17    7   22  46      6     AUS
7    8      法国   10   12   11  33     10     FRA
9   10     意大利   10   10   20  40      7     ITA
11  12      巴西    7    6    8  21     12     BRA
13  14      古巴    7    3    5  15     18     CUB
15  16      韩国    6    4   10  20     13     KOR
17  18      捷克    4    4    3  11     23     CZE
19  20      挪威    4    2    2   8     29     NOR
21  22     西班牙    3    8    6  17     17     ESP
23  24      瑞士    3    4    6  13     20     SUI
25  26    克罗地亚    3    3    2   8     29     CRO
27  28    塞尔维亚    3    1    5   9     26     SRB
29  30    保加利亚    3    1    2   6     39     BUL
31  32  乌兹别克斯坦    3    0    2   5     42     UZB
33  34    中华台北    2    4    6  12     22     TPE
35  36      希腊    2    1    1   4     47     GRE
37  38    厄瓜多尔    2    1    0   3     60     ECU
39  39     以色列    2    0    2   4     47     ISR
41  42     巴哈马    2    0    0   2     66     BAH
43  44     乌克兰    1    6   12  19     16     UKR
45  46    罗马尼亚    1    3    0   4     47     ROU
47  48      印度    1    2    4   7     33     IND
49  50     菲律宾    1    2    1   4     47     PHI
51  52      南非    1    2    0   3     60     RSA
53  54      埃及    1    1    4   6     39     EGY
55  56   埃塞俄比亚    1    1    2   4     47     ETH
57  58     突尼斯    1    1    0   2     66     TUN
59  59      斐济    1    0    1   2     66     FIJ
61  59      泰国    1    0    1   2     66     THA
63  63     摩洛哥    1    0    0   1     77     MAR
65  66    哥伦比亚    0    4    1   5     42     COL
67  68    多米尼加    0    3    2   5     42     DOM
69  70  吉尔吉斯斯坦    0    2    1   3     60     KGZ
71  72     阿根廷    0    1    2   3     60     ARG
73  74      约旦    0    1    1   2     66     JOR
75  74    尼日利亚    0    1    1   2     66     NGR
77  77   沙特阿拉伯    0    1    0   1     77     KSA
79  77    北马其顿    0    1    0   1     77     MKD
81  77   土库曼斯坦    0    1    0   1     77     TKM
83  84     墨西哥    0    0    4   4     47     MEX
85  86    博茨瓦纳    0    0    1   1     77     BOT
87  86    科特迪瓦    0    0    1   1     77     CIV
89  86    格林纳达    0    0    1   1     77     GRN
91  86    摩尔多瓦    0    0    1   1     77     MDA

### 34 - 筛选行｜条件（指定值）


提取 中国、美国、英国、日本、巴西 五行数据

In [211]:
df[df['国家奥委会'].isin(['中国','美国','英国','日本','巴西'])]

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
2    3    日本   27   14   17   58      5     JPN
3    4    英国   22   21   22   65      4     GBR
11  12    巴西    7    6    8   21     12     BRA

### 35 - 筛选行｜多条件

在上一题的条件下，新增一个条件：**金牌数小于30**

In [214]:
df[(df['国家奥委会'].isin(['中国','美国','英国','日本','巴西'])) & (df['金牌数'] < 30) ]

    排名 国家奥委会  金牌数  银牌数  铜牌数  总分  按总数排名 国家奥委会代码
2    3    日本   27   14   17  58      5     JPN
3    4    英国   22   21   22  65      4     GBR
11  12    巴西    7    6    8  21     12     BRA

### 36 -筛选行｜条件（包含指定值）

提取 国家奥委会 列中，所有包含 `国`的行

In [215]:
df[df['国家奥委会'].str.endswith('国')]

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
3    4    英国   22   21   22   65      4     GBR
7    8    法国   10   12   11   33     10     FRA
8    9    德国   10   11   16   37      8     GER
15  16    韩国    6    4   10   20     13     KOR
61  59    泰国    1    0    1    2     66     THA

### 37 - 筛选某行某列

提取 `第 0 行第 2 列`

In [216]:
df.iloc[0,2]

np.int64(39)

### 38 - 筛选多行多列


提取 第 0-2 行第 0-2 列

In [217]:
df.iloc[0:2+1,0:2+1]

   排名 国家奥委会  金牌数
0   1    美国   39
1   2    中国   38
2   3    日本   27

### 39 - 筛选值｜组合（行号+列号）

提取第 4 行，第 4 列的值

In [218]:
df.iloc[4,4]

np.int64(23)

###  40 - 筛选值｜组合（行号+列名）

提取行索引为 4 ，列名为 金牌数 的值

In [219]:
df.iloc[4]['金牌数']

np.int64(20)

### 41 - 筛选值｜条件

提取 国家奥委会 为 中国 的金牌数

In [220]:
df[df['国家奥委会'] == '中国']['金牌数']

1    38
Name: 金牌数, dtype: int64

### 42 - 筛选值｜query

使用 query 提取 金牌数 + 银牌数 大于 15 的国家

In [221]:
df.query('金牌数 + 银牌数 > 15')

   排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0   1    美国   39   41   33  113      1     USA
1   2    中国   38   32   18   88      2     CHN
2   3    日本   27   14   17   58      5     JPN
3   4    英国   22   21   22   65      4     GBR
4   5   ROC   20   28   23   71      3     ROC
5   6  澳大利亚   17    7   22   46      6     AUS
6   7    荷兰   10   12   14   36      9     NED
7   8    法国   10   12   11   33     10     FRA
8   9    德国   10   11   16   37      8     GER
9  10   意大利   10   10   20   40      7     ITA

###  43 - 筛选值｜query（引用变量）

使用 query 提取 金牌数 大于 金牌均值的国家

In [223]:
mean_gold = df['金牌数'].mean()
df.query('金牌数 > @mean_gold')

    排名 国家奥委会  金牌数  银牌数  铜牌数   总分  按总数排名 国家奥委会代码
0    1    美国   39   41   33  113      1     USA
1    2    中国   38   32   18   88      2     CHN
2    3    日本   27   14   17   58      5     JPN
3    4    英国   22   21   22   65      4     GBR
4    5   ROC   20   28   23   71      3     ROC
5    6  澳大利亚   17    7   22   46      6     AUS
6    7    荷兰   10   12   14   36      9     NED
7    8    法国   10   12   11   33     10     FRA
8    9    德国   10   11   16   37      8     GER
9   10   意大利   10   10   20   40      7     ITA
10  11   加拿大    7    6   11   24     11     CAN
11  12    巴西    7    6    8   21     12     BRA
12  13   新西兰    7    6    7   20     13     NZL
13  14    古巴    7    3    5   15     18     CUB
14  15   匈牙利    6    7    7   20     13     HUN
15  16    韩国    6    4   10   20     13     KOR
16  17    波兰    4    5    5   14     19     POL
17  18    捷克    4    4    3   11     23     CZE
18  19   肯尼亚    4    4    2   10     25     KEN
19  20    挪威    4    2    2    8     29     NOR
20  21   牙买加    4    1    4    9     26     JAM

习题来源：公众号【早起Python & 可视化图鉴】 ，编辑「和鲸社区」